*{
  margin: 0;
  padding:0;
  background-color:#00172d;
  color: white;
  box-sizing: border-box;
  font-family: 'popping',sans-serif;
}
.top-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;

}
.top-bar > h1{
  position: relative;
  opacity: 2;
}

nav a:hover{
  background-color:rgba(255,255,255,0.2);
color: black;
}
nav a{
  text-decoration: none;
margin-right:50px;


}


.intro{
 text-align: center;
 font-size: 40px;
  margin: 200px;
}
.abt-container{
margin: 100px;
}

.container h1{
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.about-text{
  padding: 50px;
  line-height: 2;
}

.skills-contents{
  display:flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 60px;

}
.skills-contents div{
border: solid grey 1px;
  width: 100px;
  height: 100px;
  box-shadow:
  10px -5px 2px rgba(255,255,255,0.2)                       ;
border-radius: 20px;
text-align: center;
padding: 3px;


}

img{
  height: 50px;
   width: 50px;
}
.project{
  width:95%;
  margin: 200px auto;
  line-height: 5;
}
.section{
  display: flex;
  gap:40px;
  overflow-x: auto;
  scroll-snap-type:y proximity;
}
.section-item > img{
 
  height: 281px;
 width: 300px;
 scroll-snap-align:start;
 scroll-padding-left:30px;
 scroll-margin-left: 30px;
 scroll-margin-right:30px;
}
.section::-webkit-scrollbar {
  display: none;
}

.blue{
  widows: 50px;
  height: 10px;
background-color: aqua;
  border-radius: 50%;
}

#feedback{
  display:flex;
  flex-direction: column;
 justify-content: center;

}
.inner{
  width: 300px;
  margin: 20px 100px;

  
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.active{
  transform: translateY(0px);
  opacity: 0.9;
}

@media (max-width:900px){
  .skills-contents{
    display: grid;
    grid-template-columns: auto auto auto;
   gap: 20px;
  }
  .section{
    display: grid;
    grid-template-columns: auto auto auto;
   gap: 20px;
  }
}